@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and Logo */
h1, h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* Navigation Links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    /* Did this so the menu links wouldn't be reversed when floated right */
    float: right;
    display: flex;
}

#menu, #logo {
    /* centered the entire header content */
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    /* inherit the color from the closest element with coloring */
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Hero Image */

#hero-outer {
    height: 600px;
    width: 100%;
    /* overflow stops image from growing into the header */
    overflow: hidden;
    /* position rel helps place the text box */
    position: relative;
}
#cover-text, #cover-text h2 {
    color: #fff;
}

/* text box over the hero image */
#cover-text {
    font-size: 130%;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding: 40px 0 0 10px;

    background-color: rgba(241, 109, 107, .7);
    /* position and measurements place text box relaive to the parent position relative */
    bottom: 30px;
    right: 150px;
    position: absolute;
}
#hero-image {
    height: 600px;
    width: 100%;
    /* so we could use an img tag on index - jus content works as well as no repeat center center */
    display: flex;
    justify-content: center;

    /* Animation Effects */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* this is cool to add to get higher grade */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* Club Ethos */
#club-ethos {
    height: 600px;
}

#welcome-text {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    display: inline-block;
}

#center-about {
    padding-top: 30px;
    width: 33%;
    display: inline-block;
}

#circle-container {
    height: 300px;
    width: 300px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    height: 100%;
    /* add image url with title in div in index.html */
    background: url("../images/ethos-center-image.jpg") no-repeat center center;
    border-radius: 50%;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    display: inline-block;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    /* Vertically aligns each content block */
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    /* Vertically aligns each content block */
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2, .right-about-heading p {
    text-align: right;
}

/* Event Times */

#times {
    background: url('../images/dublin-city.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.6);
    height: 300px;
    width: 20%;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid #fff;
    /* tells browser to incl border in total width */
    box-sizing: border-box;
}

#times h2 {
    color: #fafafa;
}

/* Footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/*  Gallery Page */

#photos {
    /* move below the header */
    clear: both;
    /* removes white line in between */
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }
    #welcome {
        padding: 30px 0;
        margin: 0;
    }
    
    #left-about, #right-about {
        width: 100%;
        float: left;

    }

    #center-about {
        padding-bottom: 30px;
        width: 100%;
        float: left;
    }

    hr {
        display: none;
    }
}

/* Medium Size Screens */

@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
}

